.navbar-brand{
    font-size: 25px;
    font-weight: bold;
}
nav.navbar{
    background-color: rgba(0,0,0,0.2)!important;
}
a.nav-link{
    color: white;
    margin-left: 20px;
    font-weight: lighter;
    font-size: 15px;
    transition: .4s;
}
.body h4{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 25px;
}
.body h6{
    color: 
    font-size:small;
    font-weight: 200;
    font-size: 15px;
}
.body h5{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;
}
.body button.btn1{
    width: 200px;
    height: 50px;
    color: white;
    border: none;
    background: rgb(170, 147, 104);
    text-transform: uppercase;
    font-weight: 500;
    transition: .4s;
}
.body button.btn1:hover{
    color: white;
    letter-spacing: 1px;
    background: black;
}
section.body{
    background-color: whitesmoke;
    height: 90vh;
}
.footer{
    background-color: black;
}



/* new section */
.main{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('../img/eats.png');
    height: 330px;
    width: 100%;
 
}
.main h1{
    font-size: 5rem;
    text-transform: uppercase;
}
.contact h5{
    color: black;
    font-weight: light;
    font-size: 1.1rem;
}
.contact p{
    font-style: italic;
    font-weight: bold;
    font-size: 14px;
    color:rgb(170, 147, 104)
}
.contact-body h5{
    font-weight: 700;
}
.contact-form label{
    color: rgb(182, 175, 175);
    text-transform: capitalize;
    font-weight: lighter
}
a.btn4{
    border:3px solid rgb(182, 175, 175);
    color: black;
    text-decoration: none;
    text-transform: capitalize;

}
a.btn4:hover{
    background-color: rgb(182, 175, 175);
    border: none;
    color: black;
    transition: .4s;
}

/* footer */
section.footer{
    background-color: black;
    color: white;
}
button.btn3{
    height: 45px;
    width: 100px;
    background-color: white;
    margin-left: -10px;
    border: 2px solid white;
    font-weight: 600;
    transition: .4s;
}
.footer input{
    height: 45px;
    width: 55%;
    border: 2px solid white;
    outline: none;
    color: white;
    margin-top: 20px;
    font-weight: 600;
    background-color: black;
}
section.footer::placeholder{
    color: white;
}
.footer p{
    margin: 0;
}
i.fab{
    font-size: 2.5rem;
    cursor: pointer;
    padding-right: 5px;
}
section.new h6{
    text-transform: uppercase;
}
section.about h1{
    text-transform: capitalize;
}
section.about h6{
    text-transform: capitalize;
}
section.shop h1{
    text-transform: capitalize;
}
section.shop h6{
    text-transform: capitalize;
}
section.contact h1{
    text-transform: capitalize;
}
section.contact h6{
    text-transform: capitalize;
}
section.footer button.btn3:hover{
    letter-spacing: 1px;
}
/* end footer */


/* jk */
.dine h5{
    font-family: 'Laila', sans-serif;
    font-size: 30px;
}
.light-bg{
    background-color: #f8f8f8;
    height: 240px;
    width: 100%;
}
.img-text{
    background-color: black;
    height: 430px;
    width: 100%;
}
button.btn{
    background-color: white;
    border-radius: 30px;
    height: 45px;
    width: 170px;
    font-size: 16px;
    font-weight: 600;
    transition: .4s;
}
button.btn:hover{
    background-color: #dfdddd;
}
.img-text h4{
    font-family: 'Laila', sans-serif;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 35px;
}
.img-text h6{
    text-transform: uppercase;
    font-size: 13px;
    word-spacing: 2px;

}
.img-text p{
    font-weight: 500;
}
.icon{
    background-color: #f8f8f8;
    height: 240px;
    width: 100%;
}
button.btn1{
    background-color:  rgb(41, 158, 194);
    border-radius: 30px;
    border-color:  rgb(41, 158, 194);
    color: white;
    height: 45px;
    width: 170px;
    font-size: 16px;
    font-weight: 600;
    transition: .4s;
    text-transform: capitalize;
}

/* end jk */