*{
    margin: 0;
    padding: 0;
}
.section{
    background-color: #efefef;
    padding-bottom: 130px;
    width: 100%;
}
a.navbar-brand{
    font-size: 25px;
    font-weight: bold;
    color: white;
}
nav.navbar{
    background-color: rgba(0,0,0,0.2)!important;
}
a.nav-link{
    color: white;
    margin-left: 20px;
    font-weight: lighter;
    font-size: 15px;
    transition: .4s;
}
a.nav-link:hover{
    color:rgb(184, 139, 55);
}


/* end navbar */
.main{
    background-image: url('../img/eats.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-attachment: fixed;
}
.main h1{
    font-size: 4rem;
    font-weight: 700;
    text-transform: capitalize;
}
button.btn1{
    height: 45px;
    width: 35%;
    border: none;
    background-color:rgb(248, 26, 92);
    color: white;
    font-weight: 700;
    border-radius: 60px;
    text-transform: capitalize;
}
.main .text{
    margin-top: 2%;
}
.main h6{
    color:rgb(170, 147, 104);
    font-weight: 600;
    text-transform: uppercase;
    font-size: 15px;
}
.main h1{
    font-size: 90px;
    color: white;
    text-transform: uppercase;
    font-weight: 100;
}
.main a{
    text-decoration: none;
    color: white;
}
.main a.btn10{
    color: black;
    background-color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    transition: .4s;
}
.main a.btn11{
    color: white;
    background-color: transparent;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    border: 2px solid white;
    transition: .4s;
}
.main a.btn10:hover{
    color: white;
    background-color: transparent;
    letter-spacing: 3px;
    border: 2px solid white;
}
.main a.btn11:hover{
    letter-spacing: 3px;
    text-decoration: underline;
    border: none;
}
.product h1{
    font-weight: 700;
    text-transform: capitalize;
}
.product h6{
    text-transform: capitalize;
}
.about{
    background-color: whitesmoke;

}
.btn2{
    height: 45px;
    width: 35%;
    border: none;
    background-color:rgb(211, 155, 202);;
    color: white;
    font-weight: 700;
    border-radius: 60px;
    text-transform: uppercase;
    transition: .4s;
    font-size: 14px;
    word-spacing: 2px;;
}
.btn2:hover{
    letter-spacing: 2px;
    background: rgba(0,0,0,0.1);
    color: black;
}
.card-body:hover{
    box-shadow: -2px -1px 25px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: -2px -1px 25px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px -1px 25px -4px rgba(0,0,0,0.75);
    transition: .4s;
}
section.apple{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
    url('../img/fruits.jpg');
    background-size: cover;
    height: 80vh;
    width: 100%;
    background-position: center;
}
a.btn12{
    color: white;
    background-color: black;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    border: 2px solid white;
    transition: .4s;
    text-decoration: none;

}
a.btn12:hover{
    color: black;
    background-color: transparent;
    border: 2px solid white;
}
.apple h1{
    font-family: 'Pacifico', cursive;
    text-transform: capitalize;
}
.apple h6{
    text-transform: capitalize;
}
button.btn0{
    height: 40px;
    width: 80px;
    outline: none;
    border: none;
    background: rgb(248, 26, 92);
    color: white;
    font-weight: 700;
    border-radius: 60px;
}
section.footer{
    background-color: black;
    color: white;
}
button.btn3{
    height: 45px;
    width: 100px;
    background-color: white;
    margin-left: -10px;
    border: 2px solid white;
    font-weight: 600;
    transition: .4s;
}
.footer input{
    height: 45px;
    width: 55%;
    border: 2px solid white;
    outline: none;
    color: white;
    margin-top: 20px;
    font-weight: 600;
    background-color: black;
}
section.footer::placeholder{
    color: white;
}
.footer p{
    margin: 0;
}
i.fab{
    font-size: 2.5rem;
    cursor: pointer;
    padding-right: 5px;
}
section.new h6{
    text-transform: uppercase;
}
section.about h1{
    text-transform: capitalize;
}
section.about h6{
    text-transform: capitalize;
}
section.shop h1{
    text-transform: capitalize;
}
section.shop h6{
    text-transform: capitalize;
}
section.contact h1{
    text-transform: capitalize;
}
section.contact h6{
    text-transform: capitalize;
}
section.footer button.btn3:hover{
    letter-spacing: 1px;
}
.chef h6{
    text-transform: uppercase;
    font-weight: 500;
    color: rgb(211, 155, 202);;
    font-size: 14px;
}
.chef h1{
    color: black;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 700;
}
.chef p{
    font-weight: 200;
    max-width: 80%;
    
}
.chef{
    background-color:  whitesmoke;
}

/* new */
.new p.text{
    font-size: 19px;
}
.new a{
    text-decoration: none;
}
#text{
    color:rgb(211, 155, 202);;
}