.text-center{
    color: rgb(170, 147, 104);
    font-size: 50px;
    margin-top: 100px;
    font-size: 60px;
    font-family: serif;
}
.navbar-brand{
    font-size: 25px;
    font-weight: bold;
}
nav.navbar{
    background-color: rgba(0,0,0,0.2)!important;
}
a.nav-link{
    color: white;
    margin-left: 20px;
    font-weight: lighter;
    font-size: 15px;
    transition: .4s;
}
.carousel-inner{
    margin-top: 50px;
    height: 750px;
}
.img{
    width: 100%;
    height: 90%;
}
.label{
    font-size: 15px;
    font-weight: lighter;
}
#body{
    margin-top: 250px;
}
.cook{
    color:  rgb(170, 147, 104);
}
.txt{
    font-weight: lighter;
    line-height: 32px;
}

.main{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('../img/eats.png');
    height: 330px;
    width: 100%;
 
}
.main h1{
    font-size: 5rem;
    text-transform: uppercase;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
}

section.intro{
    background-image: url(../img/eats.png);
}